<!DOCTYPE html>
<html>
<head>
    <title>My Flask App</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   <h1>Список пользователей</h1>
       <table>
           {% for user in users %}
           <tr>
               <td>{{ user.id }}</td>
               <td>{{ user.username }}</td>
               <td>{{ user.password }}</td>
           </tr>
           {% endfor %}
       </table>
   <h1>Форма регистрации</h1>
    <form action="/register" method="POST">
        <label for="username">Имя пользователя:</label>
        <input type="text" name="username" id="username" required>

        <label for="password">Пароль:</label>
        <input type="password" name="password" id="password" required>

        <button type="submit">Зарегистрироваться</button>
    </form>

</body>
</html>